# deny access to directory listing
Options -Indexes 

# disable access to files (ini, json)
<Files ~ "\.(ini|json|csv)$">
   order deny,allow
   deny from all
</Files>

# rewrite engine on
RewriteEngine On

#RewriteCond %{HTTPS} off [NC]
#RewriteRule (.*) https://www.skolavdf.cz/knihovna/%{REQUEST_URI} [L,R=301,QSA]

# disabling the contents of the files folder
RewriteRule ^(.*/)?files/.* - [F]

#RewriteRule ^sitemap\.xml$ sitemap.php [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^.*$ index.php [L,QSA]