body {
  font-family: "Raleway", sans-serif;
  font-weight: $weight-normal;
  font-size: 14px;
  color: #fff;
  background: linear-gradient(180deg, darken($blue, 22%), darken($blue, 33%))
      fixed,
    $blue;
}
small {
  position: relative;
  top: -3px;
  color: $green;
  opacity: 1;
  font-size: 0.8em;
}
a {
  text-decoration: underline;
  color: #ffd400;
}
header,
footer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 3em;
  padding: 0 1.5em;
  background: rgba(0, 51, 65, 0.95);
  box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.2);
  z-index: 999;
  .caption {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 0.5em;
    img {
      height: 1.5em;
    }
    h1 {
      font-size: 1.1em;
      letter-spacing: 0.25em;
      font-weight: $weight-bold;
    }
  }
}
footer {
  font-size: 0.8em;
  padding: 2em 1.5em;
  background: rgba(0, 0, 0, 0.1);
}
main {
  margin-top: 3em;
  padding: 2em 1.5em;
  position: relative;
}
