@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,400;0,600;1,400&display=swap");

$blue: rgb(0, 192, 243);
$yellow: rgb(255, 212, 0);
$green: rgb(166, 206, 57);
$darkblue: rgb(0, 65, 133);

$weight-light: 200;
$weight-normal: 400;
$weight-bold: 600;

@import "reset";
@import "main";
@import "menu";
@import "books";
